// Layout
%cover {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

%center {
  align-items: center;
  display: flex;
  justify-content: center;
}

// Typos
%title {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: vw(100);
  line-height: 1.2;
  text-transform: uppercase;
}

%title-auteur {
  font-family: 'Poppins';
  font-size: vw(30);
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
}

%text-header {
  font-family: 'EB-Garamond';
  font-size: vw(16);
  line-height: 1.8;
  font-weight: 700;
}

%text-main {
  font-family: 'EB-Garamond';
  font-size: vw(16);
  line-height: 1.8;
}

%signature {
  font-family: 'Poppins';
  font-size: vw(12);
  line-height: 1.6;
}
