*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  // @extend %cover;
}

body {
  // @extend %cover;
  font-family: Poppins;
  background: $white;
  overflow: auto;
  height: 400vh;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}
