*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  // @extend %cover;
}

body {
  // @extend %cover;
  font-family: Poppins;
  background: $white;
  // height: 1500vw;

  &.is-dragged {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  ::selection {
    background-color: rgba($yellow, 0.3);
  }
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

button {
  background: transparent;
  border: transparent;
  cursor: pointer;
}
