@font-face {
  font-family: 'Poppins';
  src: url('~assets/fonts/Poppins-Medium.woff2') format('woff2'),
    url('~assets/fonts/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('~assets/fonts/Poppins-Regular.woff2') format('woff2'),
    url('~assets/fonts/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anybody';
  src: url('~assets/fonts/Anybody.woff2') format('woff2'),
    url('~assets/fonts/Anybody.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eb-Garamond';
  src: url('~assets/fonts/EBGaramond.woff2') format('woff2'),
    url('~assets/fonts/EBGaramond.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
